<header>
  <div class="container">
    <a routerLink="/" class="logo">Foodie Junction!</a>
    <nav>
      <ul>

        <!-- showing Login option if the user is not logged in -->
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>

        <!-- only show th options if the user is logged in -->
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>

        <li>
          <a routerLink="/cart-page">
            Cart <span *ngIf="this.cartQuantity">{{this.cartQuantity}}</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</header>
