<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <!-- Reactive Form -->
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <input-container label="Email">
        <!-- anything we put here will be added in the ng-content section -->
        <input type="email" placeholder="Email" formControlName="email" />

        <!-- <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">Email either invalid or empty</div> -->
        <!-- the above line replaced when using Input Validator -->
        <input-validation [control]="fc['email']" [showErrorsWhen]="isSubmitted"></input-validation>
      </input-container>

      <!-- ------------------------------------------ -->
      <!-- <div class="input-container">
        <label>Email</label>
        <div>
          <input type="email" placeholder="Email" formControlName="email" />
        </div> -->

              <!-- Validation Error on email -->
        <!-- <div class="error-list" *ngIf="fc['email'].errors && isSubmitted"> -->

              <!-- Error only is email is invalid or empty && login button is pressed -->
              <!-- <div *ngIf="fc['email'].errors.required">
                Email should not be empty
              </div>
              <div *ngIf="fc['email'].errors.email">
                Email is invalid
              </div> -->

          <!-- Email either invalid or empty
        </div>
      </div> -->
      <!-- -------------------------------------------- -->

      <div class="input-container">
        <label>Password</label>
        <div>
          <input type="password" placeholder="Password" formControlName="password" />
        </div>

        <!-- Validation Error on password -->
        <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
          <!-- Error only is password is empty && login button is pressed -->

          <!-- <div *ngIf="fc['password'].errors.required">
            Password should not be empty
          </div> -->
          Password should not be empty
        </div>
      </div>
      <div class="button">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
